<p-accordion [activeIndex]="0" class="sidebarMenu">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>account</title>
                <path
                    d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
            </svg>
            <span>Candidate</span>
        </ng-template>
        <p-menu [model]="candidateLinks"></p-menu>
    </p-accordionTab>
    <p-accordionTab>
        <ng-template pTemplate="header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>email-newsletter</title>
                <path
                    d="M12 .64L8.23 3H5V5L2.97 6.29C2.39 6.64 2 7.27 2 8V18C2 19.11 2.9 20 4 20H20C21.11 20 22 19.11 22 18V8C22 7.27 21.61 6.64 21.03 6.29L19 5V3H15.77M7 5H17V9.88L12 13L7 9.88M8 6V7.5H16V6M5 7.38V8.63L4 8M19 7.38L20 8L19 8.63M8 8.5V10H16V8.5Z">
                </path>
            </svg>
            <span>Job Offers</span>
        </ng-template>
        <p-menu [model]="jobOfferLinks"></p-menu>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
            expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-accordionTab>
</p-accordion>